body {
    background: rgb(20, 20, 20);
    background-repeat: no-repeat;
    color: white;
    scroll-padding: 0;
}

h1 {
    color: white;
    Text-align: center;
}

h2 {
    color: white;
    Text-align: center;
}

.principal-list {
    color: white;
    margin-left: 30%;
    margin-right: 25%;
    text-align: left;
}


.hardware-list,
 .peri-list,
 .Software-list
 {
    color: white;
    /*margin-left: 30%;
    margin-right: 25%;*/
    text-align: left;
}