body {
  background: rgb(20, 20, 20);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

h1,
h2 {
  color: white;
}

.principal-list,
.hardware-list,
.peri-list,
.Software-list {
  color: white;
  text-align: center;
}

.Img{
  width: 100%;
  max-width: 400px;
  height: auto;
}

.Text {
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}

/*
.topbuttom{
    margin-top: 6.4rem;
    width: 100%;
    height: 6.4rem;
    border: 0;
    cursor: pointer;
    background: #3cdc8c;
    border-radius: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    text-decoration: none;
  }*/
